@charset "UTF-8";
@import url(https://cdn.anarchyzeus.wiki/noselect.css);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@font-face {
	font-family: i;
	src: url(i.woff2) format('woff2'), url(i.woff) format('woff')
}

html {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -1.5em;
	background: #000!important;
	font-family: Courier;
}

.x {
	text-align: center;
	color: #fff
}

.y {
	font-family: i;
	font-size: calc(2.3em + 2.3vw);
	color: #181818
}

.y:hover {
	color: #fff
}

.w {
	color: #fff
}

.b {
	color: #fff
}

.q {
	margin-top: .5em
}

article {
	margin-top: 1.5em;
	font-size: .9em
}

.i {
	float: left;
	color: #fff
}

.u {
	float: right;
	text-align: right;
	margin-bottom: 1.5em;
	color: #fff
}

input[type=file] {
	display: none
}

input[type=submit] {
	border: 1px solid #181818;
	padding: .2em;
	background: 0 0
}

td {
	color: #fff
}

th {
	font-weight: 400;
	border-bottom: thin solid #181818;
	color: #fff
}

.et {
	text-align: left;
	color: #fff
}

.r:hover {
	background: #2d3436
}

.l {
	border: 1px solid #fff;
	padding: 1px;
	background: 0 0
}

footer {
	margin-top: 2em;
	height: 2.2rem;
	width: 100%;
	font-size: .9em
}

footer:hover {
	color: #fff
}

a {
	text-decoration: none;
	color: #fff
}

a:hover {
	color: #fff
}

.m {
	margin-left: 2.4em
}

textarea {
	background: 0 0;
	border: none;
	width: 70%;
	height: 30em;
	font-family: Courier;
	font-size: .9em
}

textarea.o {
	background: #fff
}

.h {
	color: #ea2027
}